body
{
    background-color: lightblue;
}
h1
{
    text-align: center;
}
.center
{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13%;
}
p
{
text-align: center;
}
div
{
text-align: center;
}